.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkgray;
    padding: 10px;
}

.header_nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
}