.subtotal {
    border: 1px solid lightslategrey;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 4px black;
}

.subtotal_total {
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.subtotal > button {
    display: block;
    margin: 1em auto;
    color: white;
    font-weight: bolder;
    background-color: rgb(0, 116, 0);
    border-radius: 5px;
}